log/
log*
tpcds.log*
07_multi_user/*/
07_multi_user/dsqgen
07_multi_user/tpcds.idx
segment_hosts.txt
05_sql/*.sql
*.o
01_gen_data/dsqgen
01_gen_data/tpcds.idx
01_gen_data/query_templates/
01_gen_data/query_0.sql
02_init/segment_bashrc
00_compile_tpcds/tools/checksum
00_compile_tpcds/tools/distcomp
00_compile_tpcds/tools/dsdgen
00_compile_tpcds/tools/dsqgen
00_compile_tpcds/tools/mkheader
00_compile_tpcds/tools/streams.h
00_compile_tpcds/tools/tables.h
00_compile_tpcds/tools/columns.h
00_compile_tpcds/tools/tpcds.idx
00_compile_tpcds/tools/tpcds.idx.h
00_compile_tpcds/tools/.ctags_updated
.idea/